<div id="filter-bar">
  <div class="fb-input-row">
    <div class="fb-control-group">
      <input id="fb-input" type="text" placeholder="attribute operand value" autocomplete="off" spellcheck="false">
      <button class="fb-btn fb-btn-primary" id="fb-apply">Filter</button>
    </div>

    <div class="fb-control-group fb-search-group">
      <input id="fb-search-input" type="text" placeholder="search" autocomplete="off" spellcheck="false">
      <button class="fb-btn fb-btn-primary" id="fb-search">Search</button>
    </div>

    <button class="fb-btn" id="fb-reset">Reset</button>
  </div>
  <div class="fb-chips" id="fb-chips"></div>
</div>